body 
{ 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy
{
  height: 100%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
}

#sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
}

#sir
{
  height: 200px;
  width: 90%;
  border: 2px solid black;
}

.sir
{
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
}

.sir-susceptible
{
  background-color: blue;
}

.sir-infected
{
  background-color: red;
}

.sir-dead
{
  background-color: black;
}

.legend
{
    list-decoration: none;
    color: white;
    padding: 0;
    width: 90%;
}
